@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/ROBOTO-LIGHT.TTF');
}

.quantity {
	font-size: 95%;
}


.product-name {
	font-size: 130%;
	font-family: "Roboto Light";
	color: #82b43a;
}

.product-reference {
	font-size: 95%;
	color: #98978B;
}

.product-line {
	width: 90%;
	margin: auto;
}